name: GdUnit4 Tests
on:
  push:
    paths:
      - '**/*.cs'
      - '**/*.gd'
    branches: [main]
  pull_request:
    paths:
      - '**/*.cs'
      - '**/*.gd'
    branches: [main]

permissions:
  contents: read
  checks: write
  actions: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: godot-gdunit-labs/gdUnit4-action@v1
        with:
          godot-version: '4.5.1'
          paths: 'res://Tests'
          godot-net: true
          console-verbosity: 'normal'
          version: 'v6.0.0'
