name: Test with GdUnit4
run-name: ${{ github.head_ref || github.ref_name }}-ci

on:
  push:
    branches:
      - main
      - gt3d
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.yml"
  workflow_dispatch:


concurrency:
  group: ci-pr-example${{ github.event.number }}
  cancel-in-progress: true


jobs:
  unit-test:
    name: "CI Unit Test"
    runs-on: ubuntu-latest
    timeout-minutes: 20 # The overall timeout
    permissions:
      actions: write
      checks: write
      contents: write
      pull-requests: write
      statuses: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Test Runner Action
        id: test-runner
        uses: MikeSchulze/gdUnit4-action@v1
        with:
          godot-version: "4.5.1"
          paths: |
            res://Tests/
          timeout: 5
          report-name: test_report.xml
          godot-net: true
